h3 Latest articles
br/

- each article in articles
  h4= article.title
  div= article.createdAt
  p= article.content
  p
   a(href="/articles/show/#{article._id}") Show | 
   a(href="/articles/edit/#{article._id}") Edit | 
   a(href="/articles/destroy/#{article._id}") Delete
  br/
